TYPEORM_PASSWORD=secret
TYPEORM_USERNAME=secret_user
TYPEORM_DATABASE=footballdata
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
SERVICE_PORT=3000
X_TOKEN=b0afab9a31fe4c408254b7aa1847649d
DATA_PROVIDER_URL=https://api.football-data.org